<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<p>This is a angular js example</p>
<!-- <div ng-app="myapp" ng-controller="myctrl"  ng-init="price=1;quantity=2;"> -->
  <!-- <div ng-app="myapp" ng-controller="myctrl"  ng-init="point=[1,2,4,5]"> -->
  <div ng-app="myapp" ng-controller="myctrl"  ng-init="name={firstname:'narendra'}">
<p>{{name.firstname}}</p>
<p>{{secondname}}</p>
<p ng-bind="name.firstname"></p>
<p>{{point[2]}}</p>
<p ng-bind="point[2]"></p>
  <p>cost: {{price * quantity}}</p>
<p>Enter your name here :<input  style="background-color:{{name}}" ng-model="name" ><p>
  <!-- <p>{{name}}</p> -->
  <p></p>
</div>
<script>
var app=angular.module('myapp',[]);
app.controller('myctrl',function($scope){
  $scope.secondname="hello";

});
</script>
 </div>
</body>
</html>
