<html>
<head>
<title>Filters</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="myctrl">
<p>{{narendra|number}}</p>
<input type="text" ng-model="test">
<ul>
<li ng-repeat="x in items | filter:test">{{x}}</li>
</ul>
<ul>
<li ng-repeat="x in obj|orderBy:price">{{x}} </li>
</ul>
</div>
<script>
var app=angular.module('myapp',[]);
app.controller('myctrl',function($scope){
$scope.narendra=1000;
$scope.items=["narndra","kumar","india"];
$scope.obj=[{name:"Tea",price:100},{name:"coeffe",price:120}];
});
</script>
</body>
</html>
