  <!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<!-- <div ng-app="">
 	<p>Name : <input type="text" ng-model="na"></p>
 	<h1>Hello {{na}}</h1>
</div> -->
<!-- <div ng-app="" ng-init="firstname='narendra'">
<p ng-bind="firstname"></p>
<p>One apple cost id:{{2+2}}
</div> -->
<div ng-app="">
  <p>Your name please:<input type="text"  ng-model="name"/></p>
<p ng-bind="name"></p>
</div>

</body>
</html>
