<html>
<head></head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myapp" ng-controller="myctrl">
Name:<input ng-model="name">
two way binding
<p>Your name:{{name}}</p>
<h4 ng-click="changeName()">click</h4>
</div>
<script type="text/javascript">
var app=angular.module('myapp',[]);
app.controller('myctrl',function($scope) {
$scope.name="narendra";
$scope.changeName=function() {
  $scope.name="kumar";
}
})
</script>
<!-- For email validation -->
<!-- <form ng-app="" name="form">
Email:<input type="email" name="email" ng-model="text">
<span ng-show="form.email.$error.email">Not a valid email
</form> -->
</body>
</html>
