<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<p>This is a angular js example</p>
<div ng-app="myapp" ng-controller="myctrl">
<p>Enter your name here :<input type="text" ng-model="name"><p>
  <!-- <p>{{name}}</p> -->
  <p ng-bind="name"></p>
</div>
<script>
var app=angular.module('myapp',[]);
app.controller('myctrl',function(){

});
</script>
 </div>
</body>
</html>
