<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Example one</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
</head>
<body>
<label>
	Name:
</label>
<input type="text" name="" ng-model="name1"  placeholder="Enter your name">
<strong>
	Your name: {name1}
</strong>
<div ng-controller="mycontroller">
	<h1>hello my name is {{hello.name}}</h1>
</div>
<script>
angular.module('myapp',[])
.controller('mycontroller',function($scope){
	$scope.hello={};
	$scope.hello.name="narendra"
});
</script>
</body>
</html>