<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />

  </head>
  <body>
    <!-- <div ng-module="myapp" ng-controller="myctrl">
    <h3>{{2+3}}</h3>
    <h1></h1>
  </div> -->
  <div ng-app="myapp" ng-init="fullname=[2,1,3,4]" ng-controller="myctrl">
FirstName:{{fullname.first+" "+fullname.last}}<br>
<span ng-bind="fullname.first"></span><br>
{{fullname[2]}}<br>
<span ng-bind="fullname[2]"></span>
<!-- <input style="background-color:{{fullname.color}}">--><br>
{{2+3}}<br>
{{narendra}}
<input type="text" ng-model="fullnam">
<p>{{fullnam}}</p>
  </div>
  <script>
var app=angular.module('myapp',[]);
app.controller('myctrl',function($scope){
$scope.narendra="hello narendra"
});
  </script>
  </body>
</html>
